.feedback-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333; /* Tekstkleur */
    resize: vertical; /* Sta verticale resizing toe */
    min-height: 80px;
}


.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
