<div class="tag-search-container">
  <input
    type="text"
    (input)="onSearchInput($event)"
    placeholder="Search for a tag..."
    class="tag-input"
    />

    @if (tags$ | async; as tags) {
      @if (isDropdownVisible) {
        <ul class="tag-dropdown">
          @for (tag of tags; track tag) {
            <li (click)="selectTag(tag)">
              {{ tag.name }}
            </li>
          }
          <li class="no-results" (click)="createTag()">+ Create tag</li>
        </ul>
      }
    }
  </div>
