@use '../../../../styles/variables' as *;

button {
    position: relative;        // Needed for the ripple pseudo-element
    overflow: hidden;          // Hide ripple overflow
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    // Ripple/Bubble Effect
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        pointer-events: none;
    }

    &:active::after {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 1s ease-out;
    }
}

button.primary {
    background-color: $primary-color;
}

button.danger {
    background-color: $danger-color;
}

button.neutral {
    background-color: $neutral-color;
}

button.success {
    background-color: $success-color;
}

.button-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}
