@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

button {
    position: relative;        // Needed for the ripple pseudo-element
    overflow: hidden;          // Hide ripple overflow
    border-radius: 4px;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.ripple {
        background-position: center;
        transition: background 0.8s;
    }
    &:hover {
        background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }
    &.ripple:active {
        background-color: #6eb9f7;
        background-size: 100%;
        transition: background 0s;
    }
}

button.primary {
    background-color: $primary-color;
}

button.danger {
    background-color: $danger-color;
}

button.neutral {
    background-color: $neutral-color;
}

button.success {
    background-color: $success-color;
}

button.link {
    background-color: transparent;
    color: $text-color;
    padding: 0 0 2px 0;
    text-decoration: underline;
    overflow: visible;

    &:hover,
    &:active {
        background: transparent none;
    }

    &:hover {
        color: $primary-color;
        transition: 0.2s ease;

        .button-icon {
            @include primary-color-filter;
        }
    }
}

.button-icon {
    width: 16px;
    height: 16px;
    transition: 0.2s ease;
}
