<div class="applications-container">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Applicant Role</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let application of applications">
            <td>
                <div class="applicant-info">
                    <img [src]="application.image" alt="{{ application.first_name }}" class="avatar">
                    {{ application.first_name }}
                </div>
            </td>
            <td>role</td>
            <td>
                <p>statuscard hier</p>
           </td>
        </tr>
        </tbody>
    </table>
</div>
