<div class="applications-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let application of project$ | async">
                <td>
                    <div class="applicant-info">
                        {{ application.applicant.firstName }}
                        {{ application.applicant.lastName }}
                    </div>
                </td>
                <td>
                    <app-statuscard
                        [status]="application.status.toString()"
                    ></app-statuscard>
                </td>
                <td>
                    <div class="actions">
                        <button
                            class="btn btn-primary"
                            (click)="approveApplication(application.id)"
                            *ngIf="application.status === ApplicationStatusEnum.PENDING"
                        >
                            Accept
                        </button>
                        <button
                            class="btn btn-danger"
                            (click)="rejectApplication(application.id)"
                            *ngIf="application.status === ApplicationStatusEnum.PENDING"
                        >
                            Deny
                        </button>
                        <button
                            class="btn btn-secondary"
                            (click)="navigateToApplication(application.id)"
                        >
                            View
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
