<div class="topnav">
  <div class="left">
    <div class="left-content">
      <div class="course-icon"></div>
      <div class="course-info">
        <p class="assignment-name">Short-burst Project</p>
        <p class="course-name">Java Advanced</p>
      </div>
      <img
        class="dropdown-icon"
        src="icons/dropdown.svg"
        alt="Dropdown"
        (click)="toggleHidden()"
      />
      <div class="dropdown" [hidden]="isHidden">
        <dl>
          <dt>Java Advanced</dt>
          <dd>Short-burst Project</dd>
          <dd>Long-burst Project</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="nav-name">Projects</div>
    <div class="nav-icons">
      <div class="notification-icon">
        <img src="icons/bell-regular.svg" alt="Notifications" />
        <span class="notification-badge">3</span>
      </div>
      <div *ngIf="user$ | async as user; else loading">
        <span class="nav-name">Welcome, {{ user.email + " - " + user.role }}</span>
      </div>
      <ng-template #loading>
        Loading...
      </ng-template>
      <div class="user-icon"></div>
      <img
        class="dropdown-icon"
        src="icons/dropdown.svg"
        alt="Dropdown"
        (click)="toggleHiddenprofile()"
      />
      <div class="dropdownProfile" [hidden]="isHiddenProfile">
        <ul>
          <li (click)="navigateToProfile()">My profile</li>
          <li (click)="logout()">Log out</li>
        </ul>
      </div>
    </div>
  </div>
</div>
