<div class="topnav">
    <div class="left">
        <div class="left-content" (click)="toggleAssignmentsHidden()" clickOutside (clickOutside)="closeAssignmentsDropdown()">
            <div class="course-icon"></div>
            <div class="course-info" *ngIf="activeAssignment$ | async as active; else defaultInfo">
                <p class="assignment-name">{{ active.assignment.name }}</p>
                <p class="course-name">{{ active.course.name }}</p>
            </div>
            <ng-template #defaultInfo>
                <div class="course-info">
                    <p class="assignment-name">No assignment selected</p>
                    <p class="course-name">select an assignment to get started</p>
                </div>
            </ng-template>
            <img alt="Dropdown" class="dropdown-icon" src="icons/dropdown.svg"/>
        </div>
        <!-- Moved dropdown OUTSIDE of left-content -->
        <div [hidden]="isHiddenAssignments" class="dropdown">
            <dl *ngIf="courses$ | async as courses; else loadingAssignments">
                <div *ngFor="let course of courses">
                    <dt>{{ course.name }}</dt>
                    <dd (click)="selectAssignment(assignment, course)" *ngFor="let assignment of course.assignments"
                        [ngClass]="{'selected': (activeAssignment$ | async)?.assignment?.id === assignment.id}">
                        {{ assignment.name }}
                    </dd>
                </div>
            </dl>
            <ng-template #loadingAssignments>
                Loading Assignments...
            </ng-template>
        </div>
    </div>
    <div class="right">
        <div class="nav-name">Projects</div>
        <div class="nav-icons">
        <div class="notifications-container">
            <div class="notification-icon">
                <img
                    src="icons/bell-regular.svg"
                    alt="Notifications"
                    (click)="toggleNotifications()"
                />
                <span class="notification-badge" *ngIf="notifications$ | async as notifications">
                    {{notifications.length}}
                </span>
            </div>
            <div
                class="notifications-dropdown"
                [ngClass]="{'hidden': isHiddenNotifications}"
            >
                <ng-container *ngIf="notifications$ | async as notifications">
                    <div class="notification-item" *ngFor="let notification of notifications">
                        <div class="notification-content"
                            (click)="navigateToNotification(notification)"
                            [ngClass]="{'unread': !notification.isRead}">
                            <div class="notification-text">
                                <span class="unread-dot" *ngIf="!notification.isRead"></span>
                                <p>{{ notification.message }}</p>
                            </div>
                            <span class="notification-date">{{ notification.timestamp| date }}</span>
                        </div>
                        <button class="delete-notification" (click)="deleteNotification(notification.notificationId)">
                            <img src="icons/delete-icon.svg" alt="Delete notification" />
                        </button>
                    </div>
                    <div *ngIf="notifications.length === 0" class="no-notifications">
                        Geen notificaties
                    </div>
                </ng-container>
            </div>
        </div>

            <div *ngIf="user$ | async as user; else loadingUser">
                <span class="nav-name">Welcome, {{ user.email + " - " + user.role }}</span>
            </div>
            <ng-template #loadingUser>
                Loading...
            </ng-template>
            <div class="user-icon" (click)="toggleHiddenprofile()" clickOutside
                 (clickOutside)="closeProfileDropdown()"></div>
            <div class="dropdownProfile" [hidden]="isHiddenProfile">
                <ul>
                    <li (click)="navigateToProfile()">My profile</li>
                    <li (click)="logout()">Log out</li>
                </ul>
            </div>
        </div>
    </div>
</div>
