<div class="topnav">
  <div class="topnav__assignments" *hasRole="[Role.Teacher, Role.Student]">
    <div class="topnav__assignments-trigger" (click)="toggleAssignmentsHidden()" (clickOutside)="closeAssignmentsDropdown()">
      <div class="topnav__course-icon"></div>
      @if (activeAssignment$ | async; as active) {
        <div class="topnav__course-info">
          <p class="topnav__assignment-name">{{ active.assignment.name }}</p>
          <p class="topnav__course-name">{{ active.course.name }}</p>
        </div>
      } @else {
        <div class="topnav__course-info">
          <p class="topnav__assignment-name">No assignment selected</p>
          <p class="topnav__course-name">select an assignment to get started</p>
        </div>
      }
      <img alt="Dropdown" class="topnav__dropdown-icon" src="icons/dropdown.svg"/>
    </div>
    <div [hidden]="isHiddenAssignments" class="topnav__assignments-dropdown">
      @if (courses$ | async; as courses) {
        <dl class="topnav__assignments-list">
          @for (course of courses; track course) {
            <div class="topnav__assignments-course">
              <dt>{{ course.name }}</dt>
              @for (assignment of course.assignments; track assignment) {
                <dd class="topnav__assignments-option"
                  (click)="selectAssignment(assignment, course)"
                  [ngClass]="{'topnav__assignments-option--selected': (activeAssignment$ | async)?.assignment?.id === assignment.id}">
                  {{ assignment.name }}
                </dd>
              }
            </div>
          }
        </dl>
      } @else {
        Loading Assignments...
      }
    </div>
  </div>@if(true) {
  @if (user$ | async; as user) {
    <div class="topnav__user">
      <div class="topnav__actions">
        <div class="topnav__notifications" (clickOutside)="closeNotifications()" (click)="toggleNotifications()">
          <div class="topnav__notifications-container">
            <div class="topnav__notifications-icon">
              <img
                src="icons/bell-regular.svg"
                alt="Notifications"
                />
                @if (notifications$ | async; as notifications) {
                  <span class="topnav__notifications-badge">
                    {{ notifications.length }}
                  </span>
                }
              </div>
              <div
                class="topnav__notifications-dropdown"
                [ngClass]="{'topnav__notifications-dropdown--hidden': isHiddenNotifications}"
                >
                @if (notifications$ | async; as notifications) {
                  @for (notification of notifications; track notification) {
                    <div class="topnav__notifications-item">
                      <div class="topnav__notifications-item-content" (click)="navigateToNotification(notification)">
                        @if (!notification.isRead) {
                          <div class="topnav__notifications-item-dot"></div>
                        }
                        <div class="topnav__notifications-item-text">
                          <p>{{ notification.message }}</p>
                          <span
                          class="topnav__notifications-item-date">{{ notification.timestamp | date:'short' }}</span>
                        </div>
                      </div>
                      <div class="topnav__notifications-item-delete">
                        <button (click)="deleteNotification(notification.notificationId)">
                          <img src="icons/delete-icon.svg" alt="Delete notification"/>
                        </button>
                      </div>
                    </div>
                  }
                  @if (notifications.length === 0) {
                    <div class="topnav__notifications-empty">
                      No notifications
                    </div>
                  }
                }
              </div>
            </div>
          </div>
          <div class="topnav__avatar" (click)="toggleHiddenprofile()" (clickOutside)="closeProfileDropdown()">
            <img [src]="user.profileImageUrl" alt="avatar">
          </div>
          <div class="topnav__profile-dropdown" [hidden]="isHiddenProfile">
            <ul class="topnav__profile-list">
              <li class="topnav__profile-name">{{user.firstName}} {{user.lastName}}</li>
              <li class="topnav__profile-item" (click)="navigateToSettings()">Settings</li>
              <li class="topnav__profile-item" (click)="navigateToProfile()">My profile</li>
              <li class="topnav__profile-item" (click)="logout()">Log out</li>
            </ul>
          </div>
        </div>
      </div>
    }
  }
</div>
