@use '../../../../styles/variables' as *;

.calendar-wrapper {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.calendar-header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem;
    img {
        border-radius: 0 2px 2px 0;
        border: 1px solid #2b2b2b;
        padding: 6px;
        cursor: pointer;
    }
}

.previous-button {
    transform: scaleX(-1);
}

.calendar-wrapper span {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    padding-left: 0.5rem;
}

.buttons {
    display: flex;
    gap: 1px;
}

:host {
    .cal-month-view {
        .cal-header {
            background-color: #f8f9fa;
            padding: 0.75rem 0;
            font-weight: 600;
        }

        .cal-out-month {
            .cal-day-number {
                opacity: 0.3;
            }
        }
    }
}

.cal-month-view .cal-day-cell.cal-today {
    background: $background-color;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.3rem;
    font-weight: bold;
    color: $primary-color;
}

.cal-day {
    font-size: 1rem;
}

.cal-events {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    overflow: visible;
    padding: 2px;
}

.cal-event {
    position: relative;
    width: 15px !important;
    height: 15px !important;
    background-color: $primary-color !important;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;

    &:hover .tooltip {
        display: flex;
    }
}

.tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $background-color;
    padding: 12px;
    border-radius: 6px;
    z-index: 1000;
    min-width: 220px;
    max-width: 300px;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 6px;
        border-style: solid;
        border-color: $background-color transparent transparent transparent;
    }
}

.tooltip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.tooltip .title {
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.tooltip .date {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
}

.tooltip .description {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    line-height: 1rem;
}
