<div class="tab-content">
    <div class="feedback-container">
        <div class="feedback-section">
            <div class="feedback-box" *ngIf="(isTeacher$ | async)">
                <textarea
                    [(ngModel)]="newFeedback"
                    placeholder="Enter your feedback here..."
                ></textarea>
                <app-button variant="primary" (click)="submitFeedback()">Post</app-button>
            </div>

            <div class="feedback-list">
                <ng-container
                    *ngIf="feedbackList$ | async as feedbackList; else loading"
                >
                    <app-conversationcard
                        *ngFor="let feedback of feedbackList"
                        [firstName]="feedback.user.firstName || ''"
                        [lastName]="feedback.user.lastName || ''"
                        [createdAt]="feedback.createdAt"
                        [comment]="feedback.comment"
                        [feedbackId]="feedback.id"
                        [isEditing]="!!(editingFeedback && editingFeedback.id === feedback.id)"
                        [showEditDelete]="!!(isTeacher$ | async)"
                        (edit)="updateFeedback(feedback)"
                        (delete)="deleteFeedback(feedback)"
                        (confirmEdit)="confirmEdit($event.id, $event.comment)"
                        (cancelEdit)="cancelEdit(feedback.id)"
                    >
                    </app-conversationcard>
                </ng-container>
                <ng-template #loading>
                    <p class="loading">Loading feedback...</p>
                </ng-template>
            </div>
        </div>

        <div class="review-section" *ngIf="(isTeacher$ | async)" >
            <p class="teacher-only">Only visible to teachers</p>
            <div class="review-buttons">
                <div class="thumb-button" title="Thumbs Up">
                    <img ngSrc="icons/thumb-up.svg" class="thumbs-up" alt="Thumbs Up" height="25" width="25" (click)="updateReviewStatus('thumbs_up')">
                </div>
                <div class="thumb-button" title="Thumbs Down">
                    <img ngSrc="icons/thumb-down.svg" class="thumbs-down" alt="Thumbs Down" height="25" width="25" (click)="updateReviewStatus('thumbs_down')">
                </div>
            </div>

            <div class="review-list">
                <ng-container *ngIf="reviewList$ | async as reviewList; else loadingReviews">
                    <div class="review-item" *ngFor="let review of reviewList">
                        <p>{{ review.reviewer.firstName }} {{ review.reviewer.lastName }}: </p>
                        <img class="thumbs-up" *ngIf="review.status === 'THUMBS_UP'" ngSrc="icons/thumb-up.svg" alt="Thumbs Up" height="25" width="25">
                        <img class="thumbs-down" *ngIf="review.status === 'THUMBS_DOWN'" ngSrc="icons/thumb-down.svg" alt="Thumbs Down" height="25" width="25">

                    </div>
                </ng-container>
                <ng-template #loadingReviews>
                    <p class="loading">Loading reviews...</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
