<nav class="sidenav">
    <a routerLink="/dashboard" routerLinkActive="active-link" aria-current="page">
        <img class="icon" src="icons/house-solid.svg" alt="Dashboard"/>
        <span>Dashboard</span>
    </a>
    <a routerLink="/projects" routerLinkActive="active-link" aria-current="page">
        <img class="icon" src="icons/projects.svg" alt="Projects"/>
        <span>Projects</span>
    </a>
    <a routerLink="/calendar" routerLinkActive="active-link" aria-current="page">
        <img class="icon" src="icons/calendar-solid.svg" alt="Calendar"/>
        <span>Calendar</span>
    </a>
    <a [routerLink]="['/assignment/applications']" 
       routerLinkActive="active-link" >
        <img class="icon" src="icons/clipboard-solid.svg" alt="Applications"/>
        <span>Applications</span>
    </a>
    <a routerLink="/students" routerLinkActive="active-link" aria-current="page" *hasRole=Role.Teacher>
        <img class="icon" src="icons/user-group-solid.svg" alt="Students"/>
        <span>Students</span>
    </a>
    <a routerLink="/courses" routerLinkActive="active-link" aria-current="page" *hasRole=Role.Teacher>
        <img class="icon" src="icons/calendar-solid.svg" alt="Courses"/>
        <span>Courses</span>
    </a>
</nav>
