@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin text-color-filter {
    filter: brightness(0) saturate(100%) invert(28%) sepia(9%) saturate(1036%) hue-rotate(199deg) brightness(93%) contrast(90%);
}
