// Variables
$background-color: #f5f7f9;
$accent-color: #e6e8ea;

$highlight-color: #7662f6;
$text-color: #47485b;
$text-color-light: #a4a4a4;
$text-color-dark: #27272F;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$border-color: #d9d9d9;

// Spacings
$spacing: 2rem;
$small-spacing: 1rem;

// Sizes
$icon-size: 50px;
$notification-size: 25px;
$badge-size: 16px;

// Derived colors
$hover-bg: #e2e3e4;
