.project-details-container {
    margin: auto;
    padding: 20px;
    border-radius: 8px;

    .sub-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.project-tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;

    a {
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        color: #333;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #6200ea;
        }
    }
}

.active-tab {
    border-bottom: 3px solid #6200ea !important;
    color: #6200ea !important;
}

