<div class="members-container">
    <table>
        <thead>
        <tr>
            <th class="col-name">Name</th>
            <th class="col-role">Role</th>
            @if (isTeacher$ | async) {
                <th class="col-actions">Actions</th>
            }
        </tr>
        </thead>

        <tbody>
            @for (member of (project$ | async)?.members; track member) {
                <tr>
                    <td class="col-name">{{ member.firstName }} {{ member.lastName }}</td>
                    <td class="col-role">{{ member.role }}</td>

                    @if (isTeacher$ | async) {
                        <td class="col-actions">
                            <button class="icon-btn delete" (click)="openDeleteModal(member)" title="Remove member">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@if (showModal) {
    <app-confirmation-modal
        [title]="'Remove Member'"
        [message]="'Are you sure you want to remove this member from the project?'"
        [confirmText]="'Remove'"
        [cancelText]="'Cancel'"
        (confirm)="confirmDelete()"
        (cancel)="closeModal()">
    </app-confirmation-modal>
}
