<div class="members-container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        @if ((isTeacher$ | async)) {
          <th>Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (member of (project$ | async)?.members; track member; let i = $index) {
        <tr>
          <td>
            {{ member.firstName }} {{ member.lastName }}
          </td>
          <td>{{ member.role.charAt(0) + member.role.substring(1).toLowerCase() }}</td>
          @if ((isTeacher$ | async)) {
            <td>
              <button class="delete-btn" (click)="openDeleteModal(member)">X</button>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>


<!-- Delete Confirmation Modal -->
@if (showModal) {
  <div class="modal">
    <div class="modal-content">
      <h2>Delete this member?</h2>
      <div class="modal-actions">
        <app-button variant="danger" (click)="closeModal()">Cancel</app-button>
        <app-button variant="primary" (click)="confirmDelete()">Confirm</app-button>
      </div>
    </div>
  </div>
}

