<div class="project-overview">
    <div class="tabs">
    <span
        *ngFor="let tab of tabOptions"
        class="tab"
        [class.active]="selectedTab === tab.value"
        (click)="changeTab(tab.value)"
    >
      {{ tab.label }}
    </span>
        <button class="create-project-btn" (click)="navigateToProjectCreate()">
            Create Project
        </button>

        <!-- Custom Toggle Button for Teachers -->
        <ng-container *ngIf="isTeacher">
            <div class="toggle-container" (click)="toggleView()">
                <div class="toggle-label">
                    {{ viewType === 'card' ? 'Card View' : 'Table View' }}
                </div>
                <div class="toggle-switch">
                    <div class="toggle-thumb" [class.active]="viewType === 'table'"></div>
                </div>
            </div>
        </ng-container>
    </div>

    <ng-template #loadingProject>
        <p>Loading...</p>
    </ng-template>

    <!-- Render view based on the selected viewType -->
    <div *ngIf="projects$ | async as projects; else loadingProject">
        <div *ngIf="viewType === 'card'; else tableView">
            <div class="card-container">
                <app-projectcard
                    *ngFor="let project of projects"
                    [project]="project"
                ></app-projectcard>
            </div>
        </div>
        <ng-template #tableView>
            <button (click)="publishAllProjects()">Publish All</button>
            <table class="project-table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th style="width:20%">Status</th>
                    <th>publish</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{ project.title }}</td>
                    <td>{{ project.shortDescription }}</td>
                    <td><button [ngClass]="[project.status]" class="status-button">{{ project.status }}</button></td>
                    <td>
                        <button *ngIf="project.status !== publishedStatus" class="publish-button" (click)="updateProjectStatus(project, ProjectStatusEnum.PUBLISHED)">Publish</button>
                        <button *ngIf="project.status === publishedStatus" class="unpublish-button" (click)="updateProjectStatus(project, ProjectStatusEnum.PENDING)">Unpublish</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </div>

    <router-outlet></router-outlet>
</div>
