@use '../../../../styles/variables' as *;

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project_c {
    margin-bottom: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs
}

label {
    font-weight: bold;
}

.input-description {
    font-size: 1rem;
    color: $text-color-light;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: $border-radius-sm;
    background: $background-color-input;
}

.input {
    max-width: 40%;
    min-width: 400pxs;
    padding: 10px;
    border-radius: $border-radius-sm;
    font-size: 1rem;
    background: $bg-light;
    box-shadow: $shadow-m;
    border: $border;
}

.short-description {
    resize: none;
}

.team-size {
    width: min-content;
}

.error {
    color: red;
    font-size: 0.9rem;
}
