<div class="create-project-container">
    <h2>Create a project</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <!-- Title Input -->
        <div class="form-group">
            <label for="title">Title</label>
            <p class="input-description">
                The title of your project should be a short inviting sentence
                that describes your project
            </p>
            <input
                id="title"
                type="text"
                formControlName="title"
                placeholder="Title of your project"
            />
        </div>

        <!-- Project Description -->
        <div class="form-group">
            <label>Short Description</label>
            <p class="input-description">
                Describe your project. ({{ charCount }}/500 characters)
            </p>
            <textarea
                id="shortDescription"
                formControlName="shortDescription"
                placeholder="Description of your project"
                maxlength="500"
                rows="7"
                (input)="updateCharCount()"
            ></textarea>

            <label for="description">Project Description</label>
            <p class="input-description">
                Describe your project in a detailed way. You can style your
                explanation by using markdown.
            </p>

            <!-- Markdown Textarea -->
            <md-editor
                name="Content"
                formControlName="description"
                [height]="'500px'"
            >
                <slot custom-btns>
                    <button md-button (click)="toggleFullScreen()">
                        <i class="fas fa-expand"></i>
                    </button>
                </slot>
            </md-editor>
        </div>

        <div class="form-group">
            <label for="teamSize"> Set the Team Size for your project</label>
            <p class="input-description">
                If no Team size is given for your project, the default Team Size for the assignment will be implemented.
            </p>
            <input
                id="teamSize"
                type="number"
                formControlName="teamSize"
                min="1"
            />
        </div>


         <!-- Tags Section -->
        <div class="form-group">
            <div class="skillset">
                <p>Skillset</p>
                <div class="tags-container">
                    <app-tagcard
                        *ngFor="let tag of tagList"
                        [tag]="tag"
                        [showDelete]="true"
                        (deleteTag)="removeTag(tag.id)"
                    >
                    </app-tagcard>
                </div>
                <app-tag-search-component
                    (tagSelected)="addTagToProject($event)"
                ></app-tag-search-component>
            </div>
        </div>

        <!-- Submit Button -->
        <app-button variant="primary" type="submit">Create project</app-button>
    </form>
</div>
