<div class="create-project-container">
  <h2 class="project_c">Create a project</h2>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <!-- Title Input -->
    <div class="form-group">
      <label for="title">Title</label>
      <p class="input-description">
        The title of your project should be a short, inviting sentence that describes your project.
      </p>
      <input id="title" class="title input" type="text" formControlName="title" placeholder="Title of your project" />
      @if (projectForm.get('title')?.invalid && projectForm.get('title')?.touched) {
        <div class="error">
          @if (projectForm.get('title')?.errors?.['required']) {
            <span class="error">Title is required.</span>
          }
          @if (projectForm.get('title')?.errors?.['maxlength']) {
            <span class="error">Title cannot exceed 255 characters.</span>
          }
        </div>
      }
    </div>

    <!-- Project Description -->
    <div class="form-group">
      <label>Short Description</label>
      <p class="input-description">
        Describe your project. ({{ charCount }}/500 characters)
      </p>
      <textarea id="shortDescription" class="short-description input" formControlName="shortDescription" placeholder="Description of your project" maxlength="500" rows="7" (input)="updateCharCount()"></textarea>
      @if (projectForm.get('shortDescription')?.invalid && projectForm.get('shortDescription')?.touched) {
        <div class="error">
          @if (projectForm.get('shortDescription')?.errors?.['required']) {
            <span class="error">Short description is required.</span>
          }
          @if (projectForm.get('shortDescription')?.errors?.['maxlength']) {
            <span class="error">Short description cannot exceed 500 characters.</span>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="description">Project Description</label>
      <p class="input-description">
        Describe your project in detail. You can style your explanation using markdown.
      </p>
      <app-md-editor [form]="projectForm" controlName="description"></app-md-editor>
      @if (projectForm.get('description')?.invalid && projectForm.get('description')?.touched) {
        <div class="error">
          @if (projectForm.get('description')?.errors?.['required']) {
            <span class="error">Project description is required.</span>
          }
          @if (projectForm.get('description')?.errors?.['minlength']) {
            <span class="error">
              Project description must contain at least 250 chars
              (currently {{ projectForm.get('description')?.errors?.['minlength']?.actualLength || 0 }}).
            </span>
          }
        </div>
      }
    </div>

    <!-- Team Size -->
    <div class="form-group">
      <label for="teamSize">Set the Team Size for your project</label>
      <p class="input-description">
        If no team size is given, the default team size for the assignment will be applied.
      </p>
      <input id="teamSize" class="team-size input" type="number" formControlName="teamSize" min="1" />
      @if (projectForm.get('teamSize')?.invalid && projectForm.get('teamSize')?.touched) {
        <div class="error">
          Team size is required.
        </div>
      }
    </div>

    <!-- Tags Section -->
    <div class="form-group">
      <div class="skillset">
        <p>Skillset</p>
        <div class="tags-container">
          @for (tag of tagList; track tag) {
            <app-tagcard
              [tag]="tag"
              [showDelete]="true"
              (deleteTag)="removeTag(tag.id)">
            </app-tagcard>
          }
        </div>
        <app-tag-search-component (tagSelected)="addTagToProject($event)"></app-tag-search-component>
        @if (projectForm.get('tags')?.invalid && projectForm.get('tags')?.touched) {
          <div class="error">
            Please add at least one tag.
          </div>
        }
      </div>
    </div>

    <!-- Submit Button -->
    <app-button variant="primary" type="submit">Create project</app-button>
  </form>
</div>
