<div class="create-deadline-container">
    <h2>Create a deadline</h2>
    <form [formGroup]="deadlineForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input
                id="title"
                type="text"
                formControlName="title"
                placeholder="Title of your deadline"
            />
        </div>

        <div class="form-group">
            <label for="description">Deadline Description</label>
            <textarea
                id="description"
                formControlName="description"
                placeholder="Description of your deadline"
            ></textarea>
        </div>

        <div class="form-group">
            <label for="dueDate">Due Date</label>
            <input
                id="dueDate"
                type="datetime-local"
                formControlName="dueDate"
            />
        </div>

        <div class="form-group">
            <label for="restriction">Restriction</label>
            <p class="input-description">
                The restriction of your deadline.
            </p>
            <select id="restriction" formControlName="restriction">
                <option *ngFor="let restriction of deadlineRestrictions" [value]="restriction">
                    {{ restriction }}
                </option>
            </select>
        </div>

        <app-button variant="primary" type="submit">Create deadline</app-button>
    </form>
</div>
