<div class="modal-card">
    <div class="modal-header">
        <h2>Create deadline</h2>
    </div>

    <form [formGroup]="deadlineForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Deadline Title *</label>
            <input id="title" type="text" formControlName="title" placeholder="E.g., 'Submit Project Proposal'"/>
            @if (deadlineForm.get('title')?.invalid && deadlineForm.get('title')?.touched) {
                <div class="error">
                    @if (deadlineForm.get('title')?.errors?.['required']) { <span>Title is required.</span> }
                    @if (deadlineForm.get('title')?.errors?.['maxlength']) { <span>Title cannot exceed 100 characters.</span> }
                </div>
            }
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description" placeholder="E.g., 'Submit your project proposal to the committee for review by the end of the month.'"></textarea>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="dueDate">Due Date *</label>
                <input id="dueDate" type="datetime-local" formControlName="dueDate"/>
            </div>

            <div class="form-group">
                <label for="restriction">Restriction</label>
                <select id="restriction" formControlName="restriction">
                    @for (restriction of deadlineRestrictions; track restriction) {
                        <option [value]="restriction">{{ restriction | enumDisplay }}</option>
                    }
                </select>
            </div>
        </div>

        <input type="hidden" formControlName="timeZone"/>

        <div class="modal-footer">
            <app-button variant="neutral" type="button" (click)="closeModal.emit()">Cancel</app-button>
            <app-button variant="primary" type="submit">Create</app-button>
        </div>
    </form>
</div>
