<div class="application-details-container">
    <div class="content-wrapper" *ngIf="application$ | async as application">
        <!-- Left side - Motivation -->
        <div class="motivation-section">
            <h2>Motivation</h2>
            <div class="motivation-content">
                <markdown class="md-editor-container" [data]="application.motivationMd"></markdown>
            </div>
        </div>

        <!-- Right side - Applicant Details -->
        <div class="applicant-section">
            <div class="action-container" *ngIf="(isOwner$ | async) && (application.status == ApplicationStatusEnum.PENDING)">
                <h4>Manage Application</h4>
                <div class="action-buttons">
                    <app-button variant="success" (click)="reviewApplication(application.id, ApplicationStatusEnum.APPROVED)">Approve</app-button>
                    <app-button variant="danger" (click)="reviewApplication(application.id, ApplicationStatusEnum.REJECTED)">Reject</app-button>
                </div>
            </div>
            <div class="action-container" *ngIf="(isApplicationOwner$ | async) && (application.status == ApplicationStatusEnum.APPROVED) && !(isMember$ | async)">
                <app-button variant="primary" (click)="joinProject(application.id)">Join Project</app-button>
            </div>
            <div class="details-section">
                <h2>Applicant Details</h2>
                <div class="details-content">
                    <div class="detail-item">
                        <label>Applicant</label>
                        <p>{{ application.applicant.firstName }} {{ application.applicant.lastName }}</p>
                    </div>
                    <div class="detail-item">
                        <label>Status</label>
                        <app-statuscard [status]="application.status.toString()"></app-statuscard>
                    </div>
                    <div class="detail-item">
                        <label>Project</label>
                        <p class="project-title" (click)="navigateToProject()">{{ application.project.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
