<ng-container *ngIf="(isLoading$ | async) === false; else loadingTemplate">
    <!-- Show mobile overlay if user is on small screen -->
    <app-mobile-unsupported *ngIf="isMobile"></app-mobile-unsupported>

    <!-- Otherwise render the app -->
    <ng-container *ngIf="!isMobile">
        <router-outlet></router-outlet>
    </ng-container>
</ng-container>

<ng-template #loadingTemplate>
    <div class="loading-container">Loading...</div>
</ng-template>

<app-toast></app-toast>
<app-bug-report></app-bug-report>
