@use '../../../../styles/variables' as *;

.md-container {
    width: 80%;
    min-width: 400px;

    .NgxEditor {
        min-height: 300px;
        max-height: 600px;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
}

.NgxEditor,
.NgxEditor__MenuBar{
    background-color: $bg-2 !important;
}

.NgxEditor__Wrapper{
    box-shadow: $shadow-m !important;
}
