<div class="settings-container">
    <h2>Settings</h2>
    <div class="invite-section" *hasRole="Role.Teacher">
        <app-button variant="primary"  (click)="generateInviteLink()" [disabled]="isLoading">{{ isLoading ? 'Generating...' : 'Generate Invite Link' }}</app-button>
    </div>

    <div *ngIf="inviteLink" class="invite-link-container">
        <input type="text" [value]="inviteLink" readonly class="invite-link-field" />
        <app-button variant="neutral" (click)="copyInviteLink()">Copy</app-button>
    </div>

    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>
</div>
