<div class="dashboard-continer">
    <main class="announcement-container">
        <h4>Announcements</h4>
        <div *ngIf="announcements.length > 0; else noAnnouncements" class="announcement-overview">
            <app-announcement-card *ngFor="let announcement of announcements" [announcement]="announcement"></app-announcement-card>
        </div>
        <ng-template #noAnnouncements>
            <p>No announcements available for this assignment.</p>
        </ng-template>
    </main>
    <aside>
        <div class="project-container">
            <h4>My project</h4>
            <div class="project" *ngIf="project != null; else noProject">
                <app-projectcard [project]="project"></app-projectcard>
            </div>
            <ng-template #noProject>
                <div class="no-project">
                    <p>You are not part of a project yet in this assignment.</p>
                    <app-button variant="link" (click)="navigateToProjects()">Browse projects</app-button>
                </div>
            </ng-template>
        </div>
        <div class="calendar-container">
            <app-calendar-small [deadlines]="(deadlines$ | async) ?? []"></app-calendar-small>
        </div>

        <!-- Teacher-only Charts Section -->
        <ng-container *hasRole="Role.Teacher">
            <section class="charts-section">
                <h4>Project Submission Overview</h4>
                <canvas baseChart
                        [data]="submissionChartData"
                        [options]="submissionChartOptions"
                        [type]="submissionChartType">
                </canvas>
            </section>
        </ng-container>
    </aside>
</div>
