@use '../../../styles/variables.scss' as *;

.dashboard-continer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    gap: 2rem;

    h4 {
        color: $text-color-light;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $text-color-light;
    }

    .announcement-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .announcement-overview {
            width: 100%;
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .project-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }

        .calendar-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }

        .charts-section {
            background: $background-color-light;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;

            canvas {
                max-width: 100%;
            }
        }

        .no-project {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            p {
                color: $text-color-light;
            }
        }
    }
}
