<div class="tab-content">
    <div class="page-container" *ngIf="project$ | async as project">
        <!-- Linker sectie met tekst -->
        <div class="left-content">
            <h2>{{ project.title || "Untitled Project" }}</h2>
            <!-- Markdown rendering -->
            <markdown
                class="md-editor-container"
                [data]="project.description || ''"
            ></markdown>
        </div>

        <!-- Rechter sidebar met Members & Links -->
        <div class="right-sidebar">
            <app-button
                label="Apply for this project"
                type="normal"
                (click)="applyForProject()"
            ></app-button>
            <div class="status-section">
                <span class="status-label">{{ project.status }}</span>
            </div>
            <div class="members-section">
                <h3>Members</h3>
                <ul>
                    <li class="owner-section">
                        <span class="owner-name"
                            >{{ project.createdBy.firstName }}
                            {{ project.createdBy.lastName }}</span
                        >
                    </li>
                    <li *ngFor="let member of project.members || []">
                        <span
                            >{{ member?.firstName || "" }}
                            {{ member?.lastName || "" }}</span
                        >
                    </li>
                </ul>
            </div>
            <!-- Links component -->
            <app-linkcard></app-linkcard>
        </div>
    </div>
</div>
