<div class="courses-header">
    <h1>Courses</h1>
    <app-button variant="primary" (click)="openCourseImportModal()">Import a Course</app-button>
</div>

@if (showImportCourseModal) {
    <app-canvas-import-modal
        type="course"
        [items$]="canvasCourses$"
        (closeModal)="closeCourseModal()"
        (create)="handleCourseCreate($event)" />
}

@if (showImportAssignmentModal) {
    <app-canvas-import-modal
        type="assignment"
        [courseId]="courseIdInput"
        [items$]="assignmentItems$"
        (closeModal)="closeAssignmentModal()"
        (create)="handleAssignmentCreate($event)" />
}

@if (showCourseDeleteModal) {
    <app-confirmation-modal
        title="Delete Course"
        message="Are you sure you want to delete this course?"
        confirmText="Delete"
        cancelText="Cancel"
        exactConfirmText="delete"
        (confirm)="handleCourseDelete(courseIdInput!)"
        (cancel)="closeCourseDeleteModal()" />
}

@if (showAssignmentDeleteModal) {
    <app-confirmation-modal
        title="Delete Assignment"
        message="Are you sure you want to delete this assignment?"
        confirmText="Delete"
        cancelText="Cancel"
        exactConfirmText="delete"
        (confirm)="handleAssignmentDelete(assignmentIdInput!)"
        (cancel)="closeAssignmentDeleteModal()" />
}

@if (showRefreshEnrollmentModal) {
    <app-confirmation-modal
        title="Refresh Enrollments"
        message="This will sync enrollments with Canvas."
        confirmText="Sync"
        cancelText="Cancel"
        (confirm)="handleEnrollmentsRefresh(courseIdInput!)"
        (cancel)="closeRefreshEnrollmentModal()" />
}

<div class="courses-list">
    @if (courses$ | async; as courses) {
        @for (course of courses; track course) {
            <div class="course-item">

                <div class="course-header">
                    <h2>{{ course.name }}</h2>
                    <div class="course-actions">
                        <i class="fa fa-refresh" (click)="openRefreshEnrollmentModal(course.id)"></i>
                        <i class="fa fa-trash" (click)="openCourseDeleteModal(course.id)"></i>
                        <button class="import-action" (click)="openAssignmentImportModal(course.id)">
                            <i class="fa fa-plus"></i>
                            <span>Import</span>
                        </button>
                    </div>
                </div>

                @for (assignment of course.assignments; track assignment) {
                    <div class="assignment-card">
                        <div class="assignment-header">
                            <h4>{{ assignment.name }}</h4>
                            <i class="fa fa-trash" (click)="openAssignmentDeleteModal(assignment.id)"></i>
                        </div>
                        <div class="details">Default Team Size: {{ assignment.defaultTeamSize }}</div>
                    </div>
                }

            </div>
        }
    } @else {
        <div class="loading">Loading...</div>
    }
</div>
