@use "./reset.scss" as *;
@use "./styles/variables.scss" as *;
@use "./styles/markdown.scss" as *;
@import "../node_modules/angular-calendar/css/angular-calendar.css";


* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
input,
button,
textarea,
label {
    font-family: inherit;
    color: $text-color;
    word-wrap: break-word;
    word-break: break-word;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.86666rem;
    font-weight: bold;
}

h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

h4 {
    font-size: 1.33333rem;
    font-weight: bold;
}
h5 {
    font-size: 1.2rem;
    font-weight: bold;
}
h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    padding: 1em 1em 1em 0;
}

.rich-content {
    p:empty {
        min-height: 1.25rem;
    }

    code {
        font-family: monospace;
        font-size: 0.9em;
        background: #f4f4f4;
        padding: 0.4em 0.5em;
        border-radius: 4px;
    }


    p {
        font-size: 16px;
        line-height: 1.5;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    blockquote {
        margin: 0;
        padding: 10px 20px;
        background: #333;
        border-left: 10px solid #555;

        p {
            color: #fff;
        }
    }

    a {
        color: #9a67ea;

        &:hover {
            color: #bb86fc;
        }
    }

    ul {
        padding-left: 20px;
        list-style-type: disc;

        li {
            margin: 10px;
        }
    }

    ol {
        padding-left: 20px;
        list-style-type: decimal;

        li {
            margin: 10px;
        }
    }


}





.app-container,
.auth-container {
    background-color: $background-color;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    border: 12px solid #f3f3f3;
    border-top: 12px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
