<div class="password-login-container">
    <h2>Password Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email Input -->
        <label for="email">Email:</label>
        <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Enter your email" />
        <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <span class="error" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
            <span class="error" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</span>
        </div>

        <!-- Password Input -->
        <label for="password">Password:</label>
        <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter your password" />
        <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <span class="error" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
        </div>

        <app-button variant="primary" type="submit">
            Login
        </app-button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
