.modal-backdrop {
    background: rgba(0, 0, 0, 0.4); 
    justify-content: center; 
}
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 400px; 
    max-height: 200px; /* Voorkomt dat het te lang wordt */
    text-align: center;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: grid;
    align-items: center;
  }
  
  .modal p {
    color: #555;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0;
  }
