<form
    [formGroup]="applicationForm"
    class="application-form"
    (ngSubmit)="onSubmit()"
>
    <h2>Submit Your Application</h2>

    <p class="instructions">
        Please provide a clear and concise motivation for why you want to join this project. You can use Markdown to style your text.
    </p>

    <div class="editor-container">
        <label for="motivationMd">Motivation</label>
        <md-editor
            style="white-space: pre-line;"
            id="motivationMd"
            name="motivationMd"
            formControlName="motivationMd"
        >
        </md-editor>
    </div>

    <div class="buttons-container">
        <app-button variant="primary" type="submit">
            Send Application
        </app-button>
        <app-button variant="neutral" (click)="return()">
            Cancel
        </app-button>
    </div>
</form>
