@use "../../../../styles/mixins.scss" as *;

.project-details-container {
    padding: 20px;
    border-radius: 8px;
}

.project-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    margin: 1rem 0 2rem 0;

    &__left,
    &__right {
        display: flex;
        transform: translateY(2px);
    }

    img {
        @include text-color-filter;
        width: 24px;
        height: 24px;
    }


    a {
        padding: 10px 15px;
        font-size: 16px;
        text-decoration: none;
        color: #333;
        border-bottom: 3px solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #6200ea;
        }
    }
}

.active-tab {
    border-bottom: 3px solid #6200ea !important;
    color: #6200ea !important;
}

